body {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    line-height: 1.6em;
    background: url(../image/back.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 3px #f4f4f4 solid;
    background: 4c7578;
}

footer {
    border-top: 3px solid;
    text-align: center;
    padding-top: 5px;
}

main {
    padding-bottom: 20px;
}

label {
    display: inline-block;
    width: 180px;
}

input[type="text"] {
    width: 97%;
    padding: 4px;
    border-radius: 5px;
}

input[type="number"] {
    width: 50px;
    padding: 4px;
    border-radius: 5px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 70%;
    margin: 20px 20px;
}

.menu {
    width: 400px;
    height: 400px;
    margin: 20px auto;
}

.head {
    color: black;
    font-family: 'Courier New', monospace;
}

.container {
    background-color: #66BFBF;
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

.container-questions {
    background-color: #66BFBF;
    width: 60%;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.bottom-container-prequiz {
    position: relative;
    top: 230;
    background-color: #66BFBF;
    padding: 50px 0 5px;
    font-size: large;
}

.bottom-container-quiz {
    position: relative;
    top: 157;
    background-color: #66BFBF;
    padding: 50px 0 5px;
    font-size: large;
}

.bottom-container-score {
    position: relative;
    top: 283;
    background-color: #66BFBF;
    padding: 50px 0 5px;
    font-size: large;
}

a.start {
    display: inline-block;
    color: #666;
    border: 1px dotted #000;
    padding: 6px 13px;
}

li {
    list-style: none;
}

.current {
    padding: 10px;
    background: black;
    border: #000 dotted 1px;
    margin: 20px 0 10px 0;
}

.icons {
    width: 50px;
    height: 50px;
}

.icons:hover {
    background-color: gold;
}

.fantasy {
    font-family: 'Sacramento', cursive;
    color: gold;
}

.login {
    position: absolute;
    right: 40px;
    top: 10px;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

a.login:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    a.login {
        display: block;
        margin: 0.2em auto;
    }
}

.submit {
    position: relative;
    left: 380;
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    transition: all 0.15s;
}

.submit:hover {
    color: #DDDDDD;
    border-color: #DDDDDD;
}

.submit:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

@media all and (max-width:30em) {
    .submit {
        display: block;
        margin: 0.4em auto;
    }
}

.start-quiz {
    position: relative;
    left: 320;
    background-color: white;
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    transition: all 0.15s;
}

.start-quiz:hover {
    color: #DDDDDD;
    border-color: #DDDDDD;
}

.start-quiz:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

@media all and (max-width:30em) {
    .start-quiz {
        display: block;
        margin: 0.4em auto;
    }
}